/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
#picture-container {
  width: 1500px;
  height: 667px;
  position: relative;
}
/* line 14, ../sass/screen.scss */
#picture-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.3;
}

/* line 24, ../sass/screen.scss */
#a-new-day {
  position: absolute;
  overflow: hidden;
  background: #fff001;
  background: #eeeeee;
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/screen.scss */
.background-square-01 {
  position: absolute;
  overflow: hidden;
  top: 420px;
  left: 72px;
  height: 520px;
  width: 240px;
  background: #fff001;
  -ms-transform: rotate(-68deg);
  /* IE 9 */
  -webkit-transform: rotate(-68deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-68deg);
}
/* line 44, ../sass/screen.scss */
.background-square-01 .details {
  position: absolute;
  left: 22px;
  background: #f78934;
  width: 300px;
  height: 50px;
  -ms-transform: rotate(-41deg);
  /* IE 9 */
  -webkit-transform: rotate(-41deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-41deg);
}

/* line 53, ../sass/screen.scss */
.background-square-02 {
  position: absolute;
  overflow: hidden;
  top: -415px;
  left: 22px;
  height: 1460px;
  width: 470px;
  background: #6fcee4;
  -ms-transform: rotate(-68deg);
  /* IE 9 */
  -webkit-transform: rotate(-68deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-68deg);
}
/* line 64, ../sass/screen.scss */
.background-square-02 .detail-row {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 70, ../sass/screen.scss */
.background-square-02 .details {
  background: #5987c5;
  height: 90px;
  width: 90px;
  border-radius: 100%;
}

/* line 77, ../sass/screen.scss */
.background-square-03 {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  top: -370px;
  left: 450px;
  height: 1280px;
  width: 500px;
  background: #fff001;
  -ms-transform: rotate(-42deg);
  /* IE 9 */
  -webkit-transform: rotate(-42deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-42deg);
}
/* line 91, ../sass/screen.scss */
.background-square-03 .details {
  position: relative;
  left: 35px;
  top: -90px;
  background: #f78934;
  height: 1600px;
  padding-right: 70px;
  box-sizing: border-box;
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -webkit-transform: rotate(-30deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
}

/* line 102, ../sass/screen.scss */
.background-square-04 {
  position: absolute;
  overflow: hidden;
  top: -370px;
  left: 720px;
  height: 1280px;
  width: 370px;
  background: #fff;
  -ms-transform: rotate(-14deg);
  /* IE 9 */
  -webkit-transform: rotate(-14deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-14deg);
}
