/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  font-family: 'Baloo Bhaina', cursive;
}

/* line 12, ../sass/screen.scss */
.romero-britto-circle-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 19, ../sass/screen.scss */
.romero-britto-circle {
  border-radius: 100%;
}

/* line 23, ../sass/screen.scss */
#picture-container {
  width: 1500px;
  height: 667px;
  position: relative;
}
/* line 28, ../sass/screen.scss */
#picture-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.3;
}

/* line 37, ../sass/screen.scss */
#a-new-day {
  position: absolute;
  overflow: hidden;
  background: #fff001;
  background: #eeeeee;
  width: 100%;
  height: 100%;
}

/* line 46, ../sass/screen.scss */
.background-square-01 {
  position: absolute;
  overflow: hidden;
  top: 420px;
  left: 72px;
  height: 520px;
  width: 240px;
  background: #fff001;
  -ms-transform: rotate(-68deg);
  /* IE 9 */
  -webkit-transform: rotate(-68deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-68deg);
}
/* line 57, ../sass/screen.scss */
.background-square-01 .details {
  position: absolute;
  left: 22px;
  background: #f78934;
  width: 300px;
  height: 50px;
  -ms-transform: rotate(-41deg);
  /* IE 9 */
  -webkit-transform: rotate(-41deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-41deg);
}

/* line 67, ../sass/screen.scss */
.background-square-02 {
  position: absolute;
  overflow: hidden;
  top: -415px;
  left: 22px;
  height: 1460px;
  width: 470px;
  background: #6fcee4;
  -ms-transform: rotate(-68deg);
  /* IE 9 */
  -webkit-transform: rotate(-68deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-68deg);
}
/* line 78, ../sass/screen.scss */
.background-square-02 .romero-britto-circle {
  background: #5987c5;
  width: 90px;
  height: 90px;
}

/* line 85, ../sass/screen.scss */
.background-square-03 {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  top: -370px;
  left: 450px;
  height: 1280px;
  width: 500px;
  background: #fff001;
  -ms-transform: rotate(-42deg);
  /* IE 9 */
  -webkit-transform: rotate(-42deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-42deg);
}
/* line 97, ../sass/screen.scss */
.background-square-03 .details {
  position: relative;
  left: 35px;
  top: -90px;
  background: #f78934;
  height: 1600px;
  padding-right: 70px;
  box-sizing: border-box;
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -webkit-transform: rotate(-30deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
}

/* line 109, ../sass/screen.scss */
.background-square-04 {
  position: absolute;
  overflow: hidden;
  top: -370px;
  left: 720px;
  height: 1280px;
  width: 370px;
  background: #fff;
  -ms-transform: rotate(-14deg);
  /* IE 9 */
  -webkit-transform: rotate(-14deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-14deg);
}

/* line 120, ../sass/screen.scss */
.background-square-05 {
  position: absolute;
  overflow: hidden;
  top: -50px;
  left: 954px;
  height: 810px;
  width: 530px;
  background: #fff001;
  -ms-transform: rotate(11deg);
  /* IE 9 */
  -webkit-transform: rotate(11deg);
  /* Chrome, Safari, Opera */
  transform: rotate(11deg);
}
/* line 130, ../sass/screen.scss */
.background-square-05 .romero-britto-circle-container {
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
}
/* line 134, ../sass/screen.scss */
.background-square-05 .romero-britto-circle {
  background: #ffd203;
  width: 140px;
  height: 140px;
}

/* line 141, ../sass/screen.scss */
.background-square-06 {
  position: absolute;
  overflow: hidden;
  top: 250px;
  left: 1115px;
  height: 810px;
  width: 290px;
  background: #6fcee4;
  -ms-transform: rotate(56deg);
  /* IE 9 */
  -webkit-transform: rotate(56deg);
  /* Chrome, Safari, Opera */
  transform: rotate(56deg);
}
/* line 151, ../sass/screen.scss */
.background-square-06 .detail-row {
  position: absolute;
  width: 100%;
  font-size: 70px;
  white-space: nowrap;
}
/* line 157, ../sass/screen.scss */
.background-square-06 .detail01 {
  -ms-transform: rotate(-63deg);
  /* IE 9 */
  -webkit-transform: rotate(-63deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-63deg);
  top: 44px;
  left: -80px;
}
/* line 162, ../sass/screen.scss */
.background-square-06 .detail02 {
  -ms-transform: rotate(228deg);
  /* IE 9 */
  -webkit-transform: rotate(228deg);
  /* Chrome, Safari, Opera */
  transform: rotate(228deg);
  top: 110px;
  left: 45px;
}
/* line 167, ../sass/screen.scss */
.background-square-06 .detail03 {
  -ms-transform: rotate(298deg);
  /* IE 9 */
  -webkit-transform: rotate(298deg);
  /* Chrome, Safari, Opera */
  transform: rotate(298deg);
  top: 230px;
  left: 62px;
}
/* line 172, ../sass/screen.scss */
.background-square-06 .detail04 {
  -ms-transform: rotate(292deg);
  /* IE 9 */
  -webkit-transform: rotate(292deg);
  /* Chrome, Safari, Opera */
  transform: rotate(292deg);
  top: 400px;
  left: -58px;
}
/* line 177, ../sass/screen.scss */
.background-square-06 .detail05 {
  -ms-transform: rotate(176deg);
  /* IE 9 */
  -webkit-transform: rotate(176deg);
  /* Chrome, Safari, Opera */
  transform: rotate(176deg);
  top: 260px;
  left: -104px;
}
/* line 182, ../sass/screen.scss */
.background-square-06 .detail06 {
  -ms-transform: rotate(96deg);
  /* IE 9 */
  -webkit-transform: rotate(96deg);
  /* Chrome, Safari, Opera */
  transform: rotate(96deg);
  top: 350px;
  left: -131px;
}

/* line 190, ../sass/screen.scss */
.heart-mid {
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
  position: absolute;
  top: 190px;
  left: 480px;
}
/* line 196, ../sass/screen.scss */
.heart-mid .heart-square-boundaries {
  overflow: hidden;
  display: inline-block;
  height: 360px;
  width: 360px;
  margin: 0 10px;
  position: absolute;
  top: 0;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* line 207, ../sass/screen.scss */
.heart-mid .heart-circle-boundaries {
  overflow: hidden;
  border-radius: 50%;
  height: 360px;
  position: absolute;
  width: 360px;
}
/* line 215, ../sass/screen.scss */
.heart-mid .heart {
  background-color: #d31145;
  display: inline-block;
  height: 360px;
  width: 360px;
  margin: 0 10px;
  position: absolute;
  top: 0;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* line 225, ../sass/screen.scss */
.heart-mid .heart:before, .heart-mid .heart:after {
  content: "";
  background-color: #d31145;
  border-radius: 50%;
  height: 360px;
  position: absolute;
  width: 360px;
}
/* line 234, ../sass/screen.scss */
.heart-mid .heart:before {
  top: -180px;
  left: 0;
}
/* line 238, ../sass/screen.scss */
.heart-mid .heart:after {
  left: 180px;
  top: 0;
}
/* line 243, ../sass/screen.scss */
.heart-mid .heart.heart-shaddow {
  left: -20px;
  background: black;
  border: 20px solid black;
}
/* line 248, ../sass/screen.scss */
.heart-mid .heart.heart-shaddow:before, .heart-mid .heart.heart-shaddow:after {
  background: black;
  border: 24px solid black;
}
/* line 253, ../sass/screen.scss */
.heart-mid .heart.heart-shaddow:before {
  top: -232px;
  left: -21px;
}
/* line 257, ../sass/screen.scss */
.heart-mid .heart.heart-shaddow:after {
  left: 188px;
  top: -27px;
}

/* line 267, ../sass/screen.scss */
.flower-box {
  z-index: 20;
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 420px;
}
/* line 276, ../sass/screen.scss */
.flower-box .flower-inner {
  position: absolute;
  background: #ee4035;
  box-sizing: border-box;
  border: 27px solid black;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  top: calc(50% - (110px * 0.5));
  left: calc(50% - (110px * 0.5));
}
/* line 290, ../sass/screen.scss */
.flower-box .flower-inner-back {
  position: absolute;
  background: #ee4035;
  border-radius: 100%;
  width: 190px;
  height: 190px;
  top: calc(50% - (190px * 0.5));
  left: calc(50% - (190px * 0.5));
}
/* line 300, ../sass/screen.scss */
.flower-box .flower-petal {
  position: absolute;
  background: #ee4035;
  border-radius: 100%;
  box-sizing: border-box;
  border: 27px solid black;
}
/* line 307, ../sass/screen.scss */
.flower-box .flower-petal.petal01 {
  height: 140px;
  width: 160px;
  top: 20px;
  left: 159px;
}
/* line 313, ../sass/screen.scss */
.flower-box .flower-petal.petal02 {
  height: 160px;
  width: 180px;
  top: 130px;
  left: 233px;
}
/* line 319, ../sass/screen.scss */
.flower-box .flower-petal.petal03 {
  height: 190px;
  width: 180px;
  top: 226px;
  left: 133px;
}
