/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
//@import "compass/reset";
@import "tools";

body {
  font-family: 'Baloo Bhaina', cursive;
}

.romero-britto-circle-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.romero-britto-circle {
  border-radius: 100%;
}

#picture-container {
  width: 1500px;
  height: 667px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.3;
  }
}

#a-new-day {
  position: absolute;
  overflow: hidden;
  background: #fff001;
  background: #eeeeee;
  width: 100%;
  height: 100%;
}

.background-square-01 {
  position: absolute;
  //z-index: 31;
  overflow: hidden;
  top: 420px;
  left: 72px;
  height: 520px;
  width: 240px;
  background: #fff001;
  @include rotate(-68deg);

  .details {
    position: absolute;
    left: 22px;
    background: #f78934;
    width: 300px;
    height: 50px;
    @include rotate(-41deg);
  }
}

.background-square-02 {
  position: absolute;
  overflow: hidden;
  top: -415px;
  left: 22px;
  height: 1460px;
  width: 470px;
  background: #6fcee4;
  @include rotate(-68deg);

  $circle03: 90px;
  .romero-britto-circle {
    background: #5987c5;
    width: $circle03;
    height: $circle03;
  }
}

.background-square-03 {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  top: -370px;
  left: 450px;
  height: 1280px;
  width: 500px;
  background: #fff001;
  @include rotate(-42deg);

  .details {
    position: relative;
    left: 35px;
    top: -90px;
    background: #f78934;
    height: 1600px;
    padding-right: 70px;
    box-sizing: border-box;
    @include rotate(-30deg);
  }
}

.background-square-04 {
  position: absolute;
  overflow: hidden;
  top: -370px;
  left: 720px;
  height: 1280px;
  width: 370px;
  background: #fff;
  @include rotate(-14deg);
}

.background-square-05 {
  position: absolute;
  overflow: hidden;
  top: -50px;
  left: 954px;
  height: 810px;
  width: 530px;
  background: #fff001;
  @include rotate(11deg);

  .romero-britto-circle-container {
    @include rotate(-20deg);
  }
  $circle05: 140px;
  .romero-britto-circle {
    background: #ffd203;
    width: $circle05;
    height: $circle05;
  }
}

.background-square-06 {
  position: absolute;
  overflow: hidden;
  top: 250px;
  left: 1115px;
  height: 810px;
  width: 290px;
  background: #6fcee4;
  @include rotate(56deg);

  .detail-row {
    position: absolute;
    width: 100%;
    font-size: 70px;
    white-space: nowrap;
  }
  .detail01 {
    @include rotate(-63deg);
    top: 44px;
    left: -80px;
  }
  .detail02 {
    @include rotate(228deg);
    top: 110px;
    left: 45px;
  }
  .detail03 {
    @include rotate(298deg);
    top: 230px;
    left: 62px;
  }
  .detail04 {
    @include rotate(292deg);
    top: 400px;
    left: -58px;
  }
  .detail05 {
    @include rotate(176deg);
    top: 260px;
    left: -104px;
  }
  .detail06 {
    @include rotate(96deg);
    top: 350px;
    left: -131px;
  }
}

$heart-mid: 360px;
.heart-mid {
  @include rotate(-5deg);
  position: absolute;
  top: 190px;
  left: 480px;

  .heart-square-boundaries {
    overflow: hidden;
    display: inline-block;
    height: $heart-mid;
    width: $heart-mid;
    margin: 0 10px;
    position: absolute;
    top: 0;
    @include rotate(-45deg);
  }

  .heart-circle-boundaries {
    overflow: hidden;
    border-radius: 50%;
    height: $heart-mid;
    position: absolute;
    width: $heart-mid;
  }

  .heart {
    background-color: #d31145;
    display: inline-block;
    height: $heart-mid;
    width: $heart-mid;
    margin: 0 10px;
    position: absolute;
    top: 0;
    @include rotate(-45deg);

    &:before,
    &:after {
      content: "";
      background-color: #d31145;
      border-radius: 50%;
      height: $heart-mid;
      position: absolute;
      width: $heart-mid;
    }
    &:before {
      top: -($heart-mid * 0.5);
      left: 0;
    }
    &:after {
      left: ($heart-mid * 0.5);
      top: 0;
    }

    &.heart-shaddow {
      left: -20px;
      background: black;
      border: 20px solid black;

      &:before,
      &:after {
        background: black;
        border: 24px solid black;
      }
      &:before {
        top: -232px;
        left: -21px;
      }
      &:after {
        left: 188px;
        top: -27px;
      }
    }

  }
}

$flower-box: 420px;
.flower-box {
  z-index: 20;
  box-sizing: border-box;
  position: absolute;
  width: $flower-box;
  height: $flower-box;

  $flower-inner: 110px;
  $flower-inner-dist: calc(50% - (110px * 0.5));
  .flower-inner {
    position: absolute;
    background: #ee4035;
    box-sizing: border-box;
    border: 27px solid black;
    border-radius: 100%;
    width: $flower-inner;
    height: $flower-inner;
    top: $flower-inner-dist;
    left: $flower-inner-dist;
  }

  $flower-inner-back: 190px;
  $flower-inner-back-dist: calc(50% - (190px * 0.5));
  .flower-inner-back {
    position: absolute;
    background: #ee4035;
    border-radius: 100%;
    width: $flower-inner-back;
    height: $flower-inner-back;
    top: $flower-inner-back-dist;
    left: $flower-inner-back-dist;
  }

  .flower-petal {
    position: absolute;
    background: #ee4035;
    border-radius: 100%;
    box-sizing: border-box;
    border: 27px solid black;

    &.petal01 {
      height: 140px;
      width: 160px;
      top: 20px;
      left: 159px;
    }
    &.petal02 {
      height: 160px;
      width: 180px;
      top: 130px;
      left: 233px;
    }
    &.petal03 {
      height: 190px;
      width: 180px;
      top: 226px;
      left: 133px;
    }
  }
}
